.App {
display: flex;
background-color: aqua;
height: 900px;

}


#content-box{
margin: auto;
text-align: center;
border-style: solid;
border-width: 3px;
height: 90%;
width: 70%;
font-size: 30px;
background-color: yellow;

}
#contact-box{
margin: auto;
text-align: center;
height: 90%;
width: 20%;
border-style: solid;
border-width: 3px;
font-size: 30px;
background-color: yellow;

}

#button{
  font-size: 40px;
}
.contact_list{
  text-align: center;
  border-color: red;
  border-width: 30%;

}