.App{

  height: 400px;
  background-color: aquamarine;

  font-size: 30px;
  overflow: auto;

}
.addItem{
  font-size: 40px;

}
.input{
  height: 40px;
  font-size: 30px;
}
.button{
  height:40px;
  font-size: 30px;
}
.deleteButton{
  height: 40px;
  font-size: 30px;
  width: 40px;
  background-color: red;

}